body{
    background-color: #F5F5F5;
}

.shadow-lg > div > div{
    border:none;
    background: none;
}

.absolute.bottom-4 > div > div,.absolute.bottom-4 > div > div > div + div {
    background-color: inherit;
}
.absolute.bottom-4 > div > div > div + div{
    border-style: solid;
    border-color: white;
    border-width: 1px;
}
.absolute.bottom-4 > div > div > div + div > span{
    margin:0!important;
    color:white;
}
.absolute.bottom-4 > div > div > div + div:hover{
    background-color:white;
}
.absolute.bottom-4 > div > div > div + div>span:hover{
    color:rgb(17,24,39)
}
.absolute.bottom-4 > div > div > div + div > div{
    display:none;
}

.absolute.bottom-4 button > span {
    color:rgb(17,24,39);
}